<div class="recipient-container" style="padding-top: 90px;">
    <h2>Who's your recipient?</h2>
    <div class="tile-container">
      <button routerLink='/customer/transfer-money' class="tile">
        <img src="assets/someone-else-icon.png" alt="Someone Else">
        <p>Someone Else</p>
      </button>
      <button routerLink='/customer/transfer-money' class="tile">
        <img src="assets/business-charity-icon.png" alt="Business or Charity">
        <p>Business or Charity</p>
      </button>
    </div>
  </div>
  
  <div class="back-button-container">
    <button type="active" class="btn btn-outline-primary mt-3" routerLink='/customer/money-convert' style="background-color: rgb(142, 141, 141);color: black;border:none">
      Back
    </button>
  </div>
  
  



      <!-- <button routerLink='/myself'class="tile">
        <img src="assets/myself-icon.png" alt="Myself">
        <p>Myself</p>
      </button> -->

  
