<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <h1 class="forex-text">ForexServices</h1>
        <ul class="nav-links">
          <li><a href="#" class="active" routerLink="/customer/">Home</a></li>
          <li><a href="#" class="active" routerLink="/customer/">About</a></li>
          <li><a href="#" class="active" routerLink="/customer/" >Services</a></li>
        

            <li >
            <a href="#" class="active" routerLink="/customer/add-bank-account" routerLinkActive="active">Add Bank Details</a>
          </li>
         

          <li >
            <a href="#" class="active" routerLink="/customer/graph" routerLinkActive="active">Analysis</a>
          </li>
         

          <li >
            <a href="#" class="active" routerLink="/customer/rate-list" routerLinkActive="active">Rate List</a>
          </li>
         

          <li >
            <a href="#" class="active"  routerLink="/customer/my-transactions" routerLinkActive="active">My Transaction</a>
          </li>

          <li >
            <a href="#" class="active"  routerLink="/customer/profile" routerLinkActive="active">Profile</a>
          </li>
        </ul>
          
          
      </div>
      <div class="cta-buttons">
        <a class="login-button" href="#" (click)="onLogout()">Logout</a>
      </div>
    </nav>
  </header>

  <!-- <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 sidebar" style="font-weight: bold;">
        <ul class="nav flex-column mt-4">
           -->
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/" routerLinkActive="active">Home</a>
          </li>
          <br> -->

          <!-- <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/add-bank-account" routerLinkActive="active">Add Bank Details</a>
          </li>
          <br>

          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/graph" routerLinkActive="active">Analysis</a>
          </li>
          <br>

          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/rate-list" routerLinkActive="active">Rate List</a>
          </li>
          <br>

          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/my-transactions" routerLinkActive="active">My Transaction</a>
          </li>
          <br>
          
           <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/transfer-money" routerLinkActive="active">Transfer Money</a>
           </li>
          <br> 

          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/customer/profile" routerLinkActive="active">Profile</a>
          </li>
          <br>

        </ul> -->
      <!-- </nav> -->
      <!-- <main class="col-md-10">
        <div class="container mt-4"> -->
          <router-outlet></router-outlet>
        <!-- </div> -->
      <!-- </main> -->
    <!-- </div>
  </div> -->



  

