<div class="container">
    
    <div class="form-group">
      <label for="amountInput">You Send Exactly</label>
      <div class="input-with-dropdown">
        <input type="number" class="form-control big-input" id="amountInput" [(ngModel)]="amount" name="amount" required>
        <div class="dropdown-container">
          <select class="form-control dropdown" [(ngModel)]="fromCountry" name="fromCountry" (ngModelChange)="onCountryChange('from')">
            <option *ngFor="let rate of exchangeRates" [value]="rate.code">
              {{ rate.country }} ({{ rate.code }})
            </option>
          </select>
          <div class="dropdown-image">
            <img [src]="'assets/' + fromCountry + '.jpg'" alt="Country Flag">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="receiverAmountInput">Receiver Receives</label>
      <div class="input-with-dropdown">
        <input type="number" class="form-control big-input" id="receiverAmountInput" [(ngModel)]="recipientAmount" name="recipientAmount" [readonly]="true">
        <div class="dropdown-container">
          <select class="form-control dropdown" [(ngModel)]="toCountry" name="toCountry" (ngModelChange)="onCountryChange('to')">
            <option *ngFor="let rate of exchangeRates" [value]="rate.code">
              {{ rate.country }} ({{ rate.code }})
            </option>
          </select>
          <div class="dropdown-image">
            <img [src]="'assets/' + toCountry + '.jpg'" alt="Country Flag">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="totalFee !== null" class="calculation-results">
      <div class="calculation-row">
        <div class="calculation-label">You Send Exactly:</div>
        <div class="calculation-value">{{ getCurrencySymbol(fromCountry) }}{{ amount?.toFixed(2) }}</div>
      </div>
      <div class="calculation-row">
        <div class="calculation-label">Our Fee:</div>
        <div class="calculation-value">{{ getCurrencySymbol(fromCountry) }}{{ (amount! * 0.1).toFixed(2) }}</div>
      </div>
      <div class="calculation-row">
        <div class="calculation-label">Bank Transfer Fee:</div>
        <div class="calculation-value">{{ getCurrencySymbol(fromCountry) }}{{ '0.00' }}</div>
      </div>
      <div class="calculation-row">
        <div class="calculation-label">Total Fee We Will Convert:</div>
        <div class="calculation-value">{{ getCurrencySymbol(fromCountry) }}{{ totalFee.toFixed(2) }}</div>
      </div>
      <div class="calculation-row">
        <div class="calculation-label">Recipient Receives:</div>
        <div class="calculation-value">{{ getCurrencySymbol(toCountry) }}{{ recipientAmount!.toFixed(2) }}</div>
      </div>
    </div>
    <br>
</div>

