/* Add this CSS to your styles.css or styles.scss file */

/* Reset some default styles */
body, header, nav, main, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #222;
  color: #fff;
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.forex-text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'MJ Bold', cursive;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.nav-links li a.active {
  font-weight: bold;
}

.cta-buttons {
  display: flex;
  align-items: center;
}

.login-button,
.signup-button {
  background-color: #ff9f00;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #e67e00;
  transform: scale(1.1);
}



.main-content {
  margin-left: 240px; /* Set the margin to match the sidebar width */
  padding: 1rem;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-bottom: 30px;
}
