<div class="login_page">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h3>Bank Details</h3>
                    <!-- <hr /> -->

                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" [noValidate]="false" style="font-weight: bold;">

                        <!-- Account Holder Name -->
                        <div class="row mt-4">
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label>Account Holder Name*</label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedUser.name"
                                        name="accountHolderName" required readonly />
                                </div>
                            </div>
                        </div>

                        <!-- Bank Name -->
                        <div class="row mt-4">
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label>Bank Name*</label>
                                    <input type="text" step="0.01" class="form-control"
                                        [(ngModel)]="bankDetails.bankName" name="bankName" required placeholder="Enter Bank Name"/>
                                </div>
                            </div>
                        </div>

                        <!-- Account Number -->
                        <div class="row mt-4">
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label>Account Number*</label>
                                    <input type="number" class="form-control" [(ngModel)]="bankDetails.accountNumber"
                                        name="accountNumber" required placeholder="Enter Acc No" pattern="^\d{8}$"/>
                                </div>
                            </div>
                        </div>

                        <!-- Contact Number -->
                        <div class="row mt-4">
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label>Contact Number*</label>
                                    <input type="number" class="form-control" [(ngModel)]="bankDetails.contactNumber"
                                        name="contactNumber" required placeholder="enter valid mobile number" pattern="^\d{10}$"/>
                                </div>
                            </div>
                        </div>

                        <!-- IFSC Code -->
                        <div class="row mt-4">
                            <div class="col-12 col-md-8 ">
                                <div class="form-group">
                                    <label>IFSC Code*</label>
                                    <input type="text" class="form-control" [(ngModel)]="bankDetails.ifscCode"
                                        name="ifscCode" required  placeholder="IFSC0000"/>
                                </div>
                            </div>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-outline-primary mt-3" style="background-color:green;color: white; border: none;">
                            {{ bankAvail ? 'Update' : 'Submit' }}
                        </button>
                        <button type="reset" (click)="onReset()" class="btn btn-outline-secondary mt-3 ms-2" style="background-color: rgb(249, 102, 102); color: white; border: none;">Cancel</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

